.pokedex-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 16px;
}

.pokedex-controls {
  display: flex;
  padding: 16px;
  gap: 8px;
  align-items: center;
}

.pokedex-error {
  padding: 16px;
}

.message-container {
  height: 16px;
  padding: 0 16px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.page {
  padding: 6px;
}

.page--active {
  color: black;
}
